
/* ------------ container ------------ */
.container {
  width: 700px;
}

h1 {
  margin-top: 2rem;
}
/* ------------ row ------------ */

.row {
  margin-top: 2rem;
}

li {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 700px;
}

#taskList {
  margin-bottom: 2rem;
}


.header {

}

#date {

}
